body {
    background-color: #f5f6fa;
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    
  }
  
  
  .dashboard-wrapper {
    display: flex;
    height: 100vh;
  
  }
  
 
  .sidebar {
    width: 280px;
    background-color:rgb(194, 221, 230);
    padding: 30px 20px;
    box-shadow: 2px 0 15px rgba(0, 0, 0, 0.05);
    
  }
  
  .sidebar-title {
    font-weight: 600;
    margin-bottom: 30px;
  }
  
  .sidebar-item {
    padding: 12px 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
    font-weight: 500;
  }
  
  .sidebar-item:hover {
    background: #f0f2ff;
  }
  
  .active-tab {
    background: #ede9fe;
    color: black;
  }
 
  .content-area {
    flex: 1;
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 40px;
    overflow-y: auto;
  }

 
  
  
 
  .custom-paper {
    border-radius: 20px !important;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08) !important;
  }



  

  .stepper-section {
    width: 15%;
    padding-right: 40px;
    border-right: 1px solid #f0f0f0;
  }
  
  
  .form-section {
    width: 65%;
    padding-left: 40px;
  }
  
  .form-title {
    color: #6c4cff;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  .question-title {
    font-weight: 500;
    color: #444;
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }
  
  
  .MuiStepIcon-root.Mui-active {
    color: #ff7607 !important;
  }
  
  .MuiStepIcon-root.Mui-completed {
    color: #00c897 !important;
  }
  .summary-card {
    border-radius: 12px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
  }
  
  .summary-card h3 {
    font-weight: 600;
    color: #6c4cff;
  }
  
  .summary-card p {
    color: #444;
    line-height: 1.6;
  }
  .survey-center-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .survey-card {
    width: 100%;
    max-width: 900px;   
    background: #ffffff;
    border-radius: 16px;
    padding: 40px;
    box-shadow: 0 12px 35px rgba(0,0,0,0.08);
  }
  
  .MuiLinearProgress-root {
    background-color: #eeeeee;
  }
  
  .MuiLinearProgress-bar {
    background-color: #6c4cff;
  }